@using Microsoft.AspNetCore.Components.Web

<html lang="en">
<head>
    @Head
</head>
<body>
    @ChildContent
    @{
        MarkupString script = new MarkupString($"<script static>{Script}</script>");
    }
    @script
</body>
</html>
